@import '../lib/hotcss/px2rem.scss';
html,
body {
  margin: 0px;
  padding: 0px;
  border: none;
  overflow-x: hidden;
  font-size: px2rem(40);
}

#app {
  width: px2rem(750);
  height: 100%;
  position: absolute;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 300px;
}